<div id="content" class="row">
	<div class="col-12">
		<div id="sightings" class="row px-1 py-1">
			<%= render @sitings %>
		</div>
		<%= will_paginate @sitings, class: "pagination d-none" %>
	</div>
</div>