// Place all the styles related to the Sitings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#img {
	// padding-top: 56px;
	position: absolute;
    top: 112px;
    right: 15px;
    left: -15px;
    bottom: 0;
    padding-left: 30px;
}
#content {
	position: absolute;
    top: 56px;
    left: -15px;
    right: 15px;
    bottom: 0;
    padding-left: 30px;
    overflow-y: scroll
}
.imgs {
	width: 100%;
	position: absolute;
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0;
	transition: top 0.3s;
	transition-delay: 0.2s;
}

.imgs:hover, 
.imgs:focus {
	top: -100%;
}
.img-gallery {
	width: 100%;
}
.img-wrapper {
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15)
}
.cont {
	width: 100%;
	padding-bottom: 100%;
	position: relative;
	overflow: hidden;
}
.img-full {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.h-md-100 {
	height: 100%;
}

#likes_comments {
	overflow-y: scroll;
	box-shadow: -2px 0px 0px 0px rgba(0,0,0,0.15);
}

#like {
	text-decoration: none;
	&.fas {
		color: #FF6600;
		text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
	}
}


.navbar-dark .navbar-text a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
}

.commenter {
	text-decoration: none;
	color: inherit;
}

.like_comments {
	position: absolute;
	padding: 5px 10px;
	margin: 10px;
	background-color: white;
	color: black;

	.fas {
		color: #FF6600;
		text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
	}
}

@media (max-width: 992px) {
	#content, #img {
		position: static;
		padding: 0;
	}
	.h-md-100 {
		height: auto;
	}
	#likes_comments {
		overflow-y: visible;
	}
}