// Place all the styles related to the Sitings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#img {
	padding-top: 56px;
}

.imgs {
	width: 100%;
	position: absolute;
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0;
	transition: top 0.3s;
	transition-delay: 0.2s;
}
.imgs:hover {
	top: -100%;
}
.img-gallery {
	width: 100%;
}
.cont {
	width: 100%;
	padding-bottom: 100%;
	position: relative;
	overflow: hidden;
}
.img-full {
	width: 100%
}

@media (max-width: 992px) {
	#img {
		padding-top: 0;
	}
}
// #comments {
// 	position: absolute;
// 	top: 100%;
// 	left: 0;
// }